      <div id="wrapper" class="clearfix">
        <div id="content">
          
          <div id="codearea">
            <div id="editable_content" contenteditable="true" spellcheck="false">
              <%- snapshot %>
           </div>
          </div>

          <div id="pageSelector">
          </div>
        </div><!-- /content -->

        <!-- pad -->
      </div><!-- /wrapper -->

      <div id="sidebar">
        <ul class="menu">
          <li id="chat_section">
          <h4 class="section_title"> <a href="#" id="chat_sound_control"><img src="/images/chat_sound_icon.png" alt="Sound On"/></a></h4>
          <audio id="chat_alert_sound" src="http://www.pacdv.com/sounds/interface_sound_effects/sound99.wav" autobuffer></audio>
            <ul id="chat_messages"> 
            </ul>
            <form>
              <textarea rows="1" id="input_chat_message"></textarea>
            </form>
          </li> 
          <li><h4 class="section_title">Users</h4>
            <ul id="users_list"> 
              <%- onlineUsers %>
            </ul>
          </li>
        </ul>
      </div>

      <div id="extra">
      </div>
      <!-- /pad -->
